@tailwind base;
@tailwind components;
@tailwind utilities;

#nprogress .bar {
  background: #EAB308 !important; 
  
  height: 4px !important;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 10px #EAB308, 0 0 5px #EAB308 !important;
}

#nprogress .spinner {
  display: none !important;
}

#nprogress .peg {
  display: none !important;
}